
/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables de colores */

:root{
    --azul-oscuro: rgba(13, 26, 100, 0.849);
}

body{
    background: linear-gradient(to bottom, rgba(34, 34, 34, 0.98),rgba(3, 3, 3, 0.98)),
    url(../img/fondo-index.jpg);    
    /* background: var(--azul-oscuro);*/    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: roboto, sans-serif;

}


/* estilo de la imagen de portada */

.portada{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    background-image: url(../img/fondo-index.jpg);
    background-position: center;
    background-size: cover;
    /* propiedad para dejar fija esta imagen */
    background-attachment: fixed;
}

.portada .logo{
    display: flex;
    flex-direction: column;
    height: 20%;
}

.portada .texto{
    width: 50%;
    text-align: center;
    justify-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;    
    text-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}

.portada .vamos{
    padding: 1rem 2rem;
    height: 4rem;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;    
    border: solid 2px #747474;
    border-radius: 3rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.portada .vamos:hover{
    scale: 1.1;
    box-shadow: 0 0 10px #000;
}












/* ocultamos la barra de navegacion lateral y el aside para celular */

.navegacion{
    display: none;
}

.aside{
    display: none;
}















 /* prop. del HEADER, que incluyen su imagen y el menu */

.encab{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;/*separa horizontalmente la imagen y el nav*/
    align-items: center;
    height: 100px;
    background: linear-gradient(to bottom, #141414, #000000);
    margin-bottom: 15px;
    border-bottom: 3px solid #313131;
    box-shadow: 0px -3px 1px rgb(54, 54, 54);
}
  
.encab a img{
    height: 70px;
    display: flex;
    margin-left: 2rem;
}

/* prop del menu hamburguesa */

.checkbtn{
    display: flex;
    height: 45px;
    filter: invert(1);
    margin-right: 2rem;
    cursor: pointer;
}

/* prop el nav */

.encab nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    text-align: end;
    width: 100%;
    height: 80vh;
    left: -100vw;
    top: 100px;
    background-color: #313131;
    transition: all .7s;
}

.encab nav a{
    text-decoration: none;
    font-weight: bold;
    margin: 50px 0;
    line-height: 20px;
    font-size: 1.2rem;
    color: rgb(250, 250, 250);
    width: 2rem;
}

#check:checked ~ nav{
    left: 0;
}

#check{
    display: none;
}









/* prop. del MAIN */

main{
    display: flex;
    align-items: center;
    justify-content: center;

}

.cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    /*border: 1px solid rgba(33, 52, 162, 0.868);*/
}

.cont-uno{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding-top: 2rem;
    background: linear-gradient(to bottom, rgba(31, 31, 31, 0.98),rgba(51, 51, 51, 0.98));
    box-shadow: 0 0 5px #000;
}

.cont-dos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    background: linear-gradient(to bottom, rgba(26, 26, 26, 0.98),rgba(51, 51, 51, 0.98));
    box-shadow: 0 0 5px #000;
}

.titulo{
    width: 90%;
    height: 6rem;
    text-align: center;
    line-height: 7rem;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}





.secciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: cover;
    height: 30rem;
}

.imagen-secc{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.secciones h2{
    height: 2rem;
    position: absolute;
    top: 3%;
    left: 4%;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.secciones p{
    width: 70%;
    position: absolute;
    bottom: 4%;
    right: 4%;
    text-align: end;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

/* prop de imagenes centrales en NOSOTROS */

.secciones-nos{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: cover;
}

.imagen-nos{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.secciones-nos h2{
    height: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.secciones-nos p{
    width: 90%;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}








/* prop. del footer */



footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    bottom: 0;
    left: 0;
    padding: 6rem 8%;
    margin-top: 20rem;
    background-color: rgb(148, 148, 148);
}

footer .logo{
    height: 100px;
    margin-bottom: 1rem;
}

.icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.footer-menu-container{
    list-style-type: none;
    color: #000000;
    font-size: 1.2rem;
}

.social-icon{
    height: 60px;
    width: 60px;
    border: solid 1px #696969;
    border-radius: 50px;
    margin: 1rem;

}

.social-icon img{
    width: 100%;
    filter: grayscale(1);
    transition: .5s;
}

.social-icon img:hover{
    filter: grayscale(0);
}

.menu-item{
    margin: 1rem 1rem;
    opacity: 0.6;
}

.menu-item:hover{
    opacity: 1;
}

.copyrigth{
    opacity: 0.6;
    text-align: center;
    margin-top: 1rem;
}

















/* media queries */






@media screen and (min-width:600px){

    
    /* prop. del HEADER, que incluyen su imagen y el menu */

    .encab nav{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 100%;
        left: 0;
        right: 5%;
        top: 0;
        text-align: center;
        justify-content: end;
        gap: 0.1rem;
        margin-right: 0.2rem;
        background-color: transparent;
    }

    .encab a img{
        height: 80px;
        display: flex;
        margin-left: 1rem;
    }

    .encab nav a{
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1rem;
        color: rgb(250, 250, 250);
        width: 7rem;
        margin: 5px 0;
        padding: 7px 8px;
        border: solid 1px rgb(0, 0, 0);
        border-radius: 6px;
        transition: .5s ease all;
    }
    header nav a:hover{
        color: rgb(225, 241, 41);
        background: radial-gradient(ellipse at top, rgb(37, 37, 21), rgb(0, 0, 0));
        box-shadow: 0px 0px 2px rgb(255, 255, 255);
        scale: 1.05;
    }

    .checkbtn{
        display: none;
    }

}












@media screen and (min-width:900px){

    
    /* prop. del HEADER, que incluyen su imagen y el menu */

    .encab nav{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 100%;
        left: 0;
        right: 5%;
        top: 0;
        text-align: center;
        justify-content: end;
        gap: 0.2rem;
        margin-right: 2rem;
        background-color: transparent;
    }

    .encab a img{
        height: 90px;
        display: flex;
        margin-left: 2rem;
    }

    .encab nav a{
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        color: rgb(250, 250, 250);
        width: 8rem;
        margin: 5px 0;
        padding: 7px 8px;
        border: solid 1px rgb(0, 0, 0);
        border-radius: 6px;
        transition: .5s ease all;
    }

    header nav a:hover{
        color: rgb(225, 241, 41);
        background: radial-gradient(ellipse at top, rgb(37, 37, 21), rgb(0, 0, 0));
        box-shadow: 0px 0px 2px rgb(255, 255, 255);
        scale: 1.05;
    }

    .checkbtn{
        display: none;
    }












    /* prop. del MAIN */

    main{
        display: grid;
        grid-template-columns: 0.8fr 4fr 1.5fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "naveg cont aside";
        align-items: flex-start;
        margin-top: 5rem;
    }










    /* prop. barra de navegacion izquierda */

    .navegacion{
        grid-area: naveg;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .navegacion .boton-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 75%;
        height: 10rem;
        transition: 1s ease all;
        border-radius: 10px;
        box-shadow: 0 5px 10px #000;

    }

    
    .navegacion .boton-nav:hover{
        height: 20rem;

    }


    .img-nav{
        width: 90%;
        height: 95%;
        position: relative;
        object-fit: cover;
        border: 1px solid #3f3f3f;
        border-radius: 10px;
        filter: blur(2px);
        transition: 3s;
    }

    .img-nav:hover{
        filter: none;
    }


    .navegacion div h4{
        text-align: center;
        position: absolute;
        bottom: 0;
        font-size: 0.8rem;
        width: 100%;
        height: 1.5rem;
        color: #ffffff;
        text-shadow: 1px 1px 5px #000;
        
    }










    /* prop. de las secciones del main */

    .cont{
        grid-area: cont;
        display: flex;
    }

    .cont-uno{
        padding: 2rem;
    }

    .cont-dos{
        padding: 2rem;
    }
    

    /* prop de SECCIONES */

    .secciones{
    height: 30rem;
    width: 100%;
    border-radius: 10px;
    transition: .3s ease all;
    box-shadow: 0 5px 10px #000;
    }

    .secciones:hover{
        scale: 1.02;
        border: solid 2px #262740;
        box-shadow: 0 0 3px rgb(171, 175, 137);
    }

    .imagen-secc{
        border-radius: 10px;
    }


    /* prop de secciones en NOSOTROS */

    .secciones-nos{
        width: 50%;
        border-radius: 10px;
        }
    
    .imagen-nos{
        border-radius: 10px;
    }

    .secciones-nos p{
        width: 140%;
    }
    










    















    /* prop. del aside */

    .aside{
        grid-area: aside;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card{
        display: flex;
        flex-direction: column;
        position: relative;
        list-style: none;
        width: 75%;
        height: 16rem;
        gap: 0.5rem;
        margin-bottom: 5rem; 
    }

    .card:hover .front{
        transform: perspective(600px) rotateY(180deg);
    }
    
    .card:hover .back{
        transform: perspective(600px) rotateY(360deg);
    }


    .card .face{
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        overflow: hidden;
        transition: .5s;
        border-radius: 10px;
    }

    .card .face .capa{
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .card .front{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000;
        justify-content: center;

    }


    .card .front img{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card .front h4{
        position: absolute;
        bottom: 5%;
        width: 80%;
        height: 2rem;
        text-align: center;
        line-height: 3rem;
        color: #ffffff;
        border-top: solid 1px #ffffff;
    }

    .card .back{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        color: #ffffff;
        background: linear-gradient(to bottom, rgba(9, 9, 226, 0.6), rgba(0, 0, 0, 0.945));
        box-shadow: 0 5px 10px #000;
        transform: perspective(600px) rotateY(180deg);
    }

    .card .back img{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        filter: brightness(.3);
    }


    .card .back h4{
        position: absolute;
        font-size: 1.5rem;
    }

    .card .back p{
        position: absolute;
        bottom: 5%;
        font-size: 0.9rem;
        width: 80%;
    }

}



